body {
   background-color: black;

}
.jumbotron {
    background-color: #FFF3ED;
}
.header {
    background-image: none;
    text-align: center;
    width: 825px;
    /* position: static; */
    margin: 30px auto;
    padding: 3rem 1rem;
}
.display-4 {
    font-family: 'Fascinate', cursive;
    font-size: 75px;
    text-align: center;
}
a.btn-lg {
    align-items: center;
    background-color: #9F0307;
    border-color:  #9F0307;
    color: white;
}
.btn-lg:hover {
    background-color: gray;
    border-color: gray;
}
.seats {
    background-image: url("../images/images.jpg");
    background-repeat: repeat;
    height: 400px;
    margin-top: 75px;
}

.secondLead {
    text-align: center;
    margin-bottom: 0;
}
.secondJumbo {
    padding: 25px;
}
.card {
    border-color:black;
    width: 900px;
    margin: 15px auto;
}
.card-header{
    background-color: #FFF3ED;
    
    font-size: 24px;
    text-align: center;
}
.card-img-top{
    width: 300px;
    height: auto;
    position: relative;
    left: 42%;
}
.clock {
    width: 300px;
    margin: 20px auto;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    background-color: #9F0307;
    color:white;
    
}
.answerArea {
    text-align: center;
    
}

/* #page2 { */
    /* background-image: url("../images/download6.jpg");  */
    /* opacity: 50; */
    /* padding-bottom: 25px; */
    /* height: 1000px; */
/* } */
.nav-link {
    color: grey;
}
.nav-link:hover{
    color: red;
}
.buttonText {
    text-align: center;
}
.card-body {
    padding: 0;
}
font-family: 'Sarina', cursive;
font-family: 'Fascinate Inline', cursive;
font-family: 'Kumar One', cursive;
font-family: 'Warnes', cursive;
font-family: 'Fascinate', cursive;